.icon-btn {
    cursor: pointer;
    color: var(--text-color-secondary);
    transition: color .35s linear;
    &:hover {
      color: var(--text-color--base);
    }
    &:active {
      color: var(--text-color--base);
    }
    &[disabled] {
        color: var(--disabled-color);
        pointer-events: none;
    }
}

.text-link {
    &:hover {
        cursor: pointer;
        color: var(--primary-base);
    }
}

.alert-selection {
  border-color: transparent;
  background-color: #fff;
}

.link-btn {
  padding-left: 0;
  padding-right: 0;
  color: var(--text-color-secondary);
  &:disabled {
    background-color: inherit;
  }
}

.primary-link-btn {
  padding-left: 0;
  padding-right: 0;
  color: var(--primary-base);
  &:disabled {
    background-color: inherit;
  }
  &:hover {
    color: var(--primary-lighten-1);
  }
  &:active, &:focus {
    color: var(--primary-darken-1);
  }
}